<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8" />
		<title>Live Study</title>

		<link rel="stylesheet" type="text/css" href="./css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/onShowClass.css" />
		<link rel="stylesheet" type="text/css" href="css/addClass.css" />
		<link rel="stylesheet" type="text/css" href="css/userInfo.css" />
		<link rel="stylesheet" href="../studyClass/css/addClass.css">
		<link rel="stylesheet" href="../studyClass/css/main.css">
		<script src="js/index.js"></script>

	</head>
	<body>
		<div id="app">
			<!-- Header info -->
			<header class="bodyHeader">
				<div class="bodyHeaderLeft">
					<h2>Online Study</h2>
					<span>Course Admin System</span>
				</div>
				<div class="bodyHeaderRight" v-if="!isLogin">
					<div type="button" @click="LoginBtn()">Register</div>
					<div style="margin-left: 10px;" @click="LoginBtn()">Login</div>
				</div>
				<div class="bodyHeaderRight" v-if="isLogin">
					<div class="displayModeBtn" @click="displayModeBtn()" style="margin-right: 50px;">Change Style</div>
					<!-- templates -->
					<div class="displayTemplate" :class="{displayModeShow : displayModeShow == 1}"
						:style="{displayModeHide : displayModeShow == 0}">
						<ul>
							<li :class="{displayTemplateSelect : displayMode == 0}" @click="displayModeClick(0)">Day</li>
							<li :class="{displayTemplateSelect : displayMode == 1}" @click="displayModeClick(1)">Night</li>
							<li :class="{displayTemplateSelect : displayMode == 2}" @click="displayModeClick(2)">Colorful</li>
						</ul>
					</div>

					<div @click="LoginBtn()">
						<span>User:&nbsp;Admin</span>
						<!--<span>{{ userName }}</span>-->
					</div>
				</div>
			</header>
			<!-- Mainbody -->
			<div class="body" v-if="isLogin" :style="{ backgroundColor: displayColors[displayMode].bodyColor}">

				<!-- left side block -->
				<div class="bodyLeftList">
					<a class="bodyLeftListBtn" :class="{ bodyLeftListBtnSelect: leftListIndex == 0 }"
						@click="bodyLeftListClick(0)">Courses for sale</a>
					<a class="bodyLeftListBtn" :class="{ bodyLeftListBtnSelect: leftListIndex == 1 }"
						@click="bodyLeftListClick(1)">Add a course</a>
					<a class="bodyLeftListBtn" :class="{ bodyLeftListBtnSelect: leftListIndex == 2 }"
						@click="bodyLeftListClick(2)">Self center</a>
				</div>

				<!-- main body info info -->
				<div class="bodyMain">

					<!-- Courses for sale -->
					<div class="bodyMyClass" v-if="leftListIndex==0 && classEditId == 0">
						<div :class="{bodyMyClassInfo : displayMode == 0, bodyMyClassInfoN : displayMode == 1, bodyMyClassInfoS : displayMode == 2}" v-for="(value, index) in classList"
							:style="{ backgroundColor: displayColors[displayMode].classItem}">
							<!-- Images -->
							<div class="bodyMyClassInfoImg">
								<img :src="value.image" alt="">
							</div>
							<!-- description -->
							<div class="bodyMyClassInfoTitle">
								<!-- title -->
								<p>{{value.title}}</p>

								<!-- price and editing func -->
								<span class="bodyMyClassInfoMore">
									<span>
										{{ displayMode == 0 ? 'Price:' : displayMode == 1 ? '$' : 'CNDS:' }} <span :class="{bodyMyClassInfoMorePrice : displayMode == 0, bodyMyClassInfoMorePriceN : displayMode == 1, bodyMyClassInfoMorePriceS : displayMode == 2}">{{value.price}}</span>
									</span>
									<p :data-id="value.id" @click="classEdit($event)">Edit</p>
								</span>
							</div>

						</div>
					</div>

					<!-- add course -->
					<div class="bodyClassAdd" v-if="leftListIndex == 1"
						:style="{ color: displayColors[displayMode].addTextColor}">
						<!-- Course Details -->
						<div :class="{bodyClassAddcontant : displayMode == 0 , bodyClassAddcontantN : displayMode == 1 , bodyClassAddcontantS : displayMode == 2}">


								<textarea class="bodyClassAddcontantTextarea" :v-model="classEditInfo.contant" placeholder="Please enter the course content..."
										  :style="{ backgroundColor: displayColors[displayMode].textarea, color: displayColors[displayMode].textareaColor}"></textarea>

							<div class="bodyClassAddInfo">
								<p style="margin-top: 0;">Click to add image: </p>
								<img :src="classEditInfo.image" alt="">
								<p>Course title: </p>
								<label>
									<input type="text" v-model="classEditInfo.title" placeholder="Please enter a title..."
										:style="{ backgroundColor: displayColors[displayMode].inputBgColor, color: displayColors[displayMode].inputColor, borderBottom: displayColors[displayMode].inputUnderBorder}" />
								</label>
								<p>Course Price: </p>
								<label>
									<input type="number" v-model="classEditInfo.price" placeholder="00.00"
										:style="{ backgroundColor: displayColors[displayMode].inputBgColor, color: displayColors[displayMode].inputColor, borderBottom: displayColors[displayMode].inputUnderBorder}" />
								</label>
							</div>
						</div>

						<!-- test of course -->
						<div class="bodyClassAssessmen">
							<!-- form of Q&A -->
							<div class="bodyClassAssessmenSbox">
								<p>Questions: </p>
								<div class="bodyClassAssessmenHave">
									<span>
										<a class="bodyClassAssessmenHaveQ">Question:<p>This is question</p></a> <a
											class="bodyClassAssessmenHaveA">Answer:<p>This is answer</p></a>
									</span>
								</div>
							</div>

							<!-- add a question -->
							<div class="bodyClassAssessmenAdd">
								<span>
									<div>
										<a>Q</a>
										<label>
<input type="text" value=""
	:style="{ backgroundColor: displayColors[displayMode].inputBgColor, color: displayColors[displayMode].inputColor, borderBottom: displayColors[displayMode].inputUnderBorder}" />
</label>
									</div>
									<div style="margin-top: 40px;">
										<a>A:</a>
										<label>
<input type="text" value=""
	:style="{ backgroundColor: displayColors[displayMode].inputBgColor, color: displayColors[displayMode].inputColor, borderBottom: displayColors[displayMode].inputUnderBorder}" />
</label>
									</div>
								</span>

								<button type="button">Add a question</button>
							</div>

						</div>

						<!-- Certificate -->
						<div class="bodyClassAuthen">

							<span class="bodyClassAuthenBox">
								<label>
<input name="Checkbox" type="checkbox" :checked="classEditInfo.authen">
</label>
								<label>If enable course certification</label>
							</span>

							<span class="bodyClassAuthenSave">
								<button @click="saveClass()" type="button"
									:style="{ backgroundColor: displayColors[displayMode].buttonColor}">save course</button>
							</span>

						</div>

					</div>

					<!-- Self center -->
					<div :class="{bodyUserSetting : displayMode == 0 , bodyUserSettingN : displayMode == 1 , bodyUserSettingS : displayMode == 2}" v-if="leftListIndex == 2">
						<div class="bodyUserSettingBox">
							<div class="bodyUserSettingInfo bodyUserSettingHeadPic">
								Set Profile Image:
								<img src="./img/headPic.webp" alt="">
							</div>
							<div class="bodyUserSettingInfo bodyUserSettingUserName">
								Set Username:
								<label>
									<input placeholder="Username" type="text"
										:style="{ backgroundColor: displayColors[displayMode].inputBgColor, color: displayColors[displayMode].inputColor, borderBottom: displayColors[displayMode].inputUnderBorder}" />
								</label>
							</div>
							<div class="bodyUserSettingInfo bodyUserSettingPwd1">
								Change Password:
								<label>
									<input placeholder="password" type="password"
										:style="{ backgroundColor: displayColors[displayMode].inputBgColor, color: displayColors[displayMode].inputColor, borderBottom: displayColors[displayMode].inputUnderBorder}" />
								</label>
							</div>
							<div class="bodyUserSettingInfo bodyUserSettingPwd2">
								Confirm Password:
								<label>
									<input placeholder="Repeat Password" type="password"
										:style="{ backgroundColor: displayColors[displayMode].inputBgColor, color: displayColors[displayMode].inputColor, borderBottom: displayColors[displayMode].inputUnderBorder}" />
								</label>
							</div>
							<div class="bodyUserSettingInfo bodyUserSettingBtn">
								<button type="button"
									:style="{ backgroundColor: displayColors[displayMode].buttonColor}">Save Changes</button>
							</div>
						</div>
						
						<div class="bodyUserStatisticsBox">
							<p style="margin-bottom: 30px;">Personal data statistics</p>
							<div>
								Earnings:<span>1892.08</span>
							</div>
							<div>
								Course sales:<span>421</span>
							</div>
							<div>
								Average per month:<span>502.50</span>
							</div>
						</div>
						
					</div>

				</div>

			</div>

			<!-- Not logged in display page -->
			<div class="noLogin" v-if="!isLogin">
				<p>Hello, please log in first!</p>
			</div>
		</div>
		<script src = "data/data.js" type = "text/javascript" charset = "utf-8"> </script>
		<script src="./js/v2.6.10/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
